* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  display: flex;
  justify-content: space-between;
  background-image: url(../img/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  color: white;
  font-size: 35px;
}

.logo span {
  color: blue;
}

.wrapper {
  background-color: white;
  color: #5b5b5b;
  width: 55vw;
  height: 100vh;
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.wrapper h2 {
  color: #000;
  font-size: 44px;
  line-height: 57.6px;
  font-weight: 700;
}

.wrapper h2 span {
  font-size: 30px;
}

.wrapper p {
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 20px;
}

.wrapper .google {
  color: #5b5b5b;
  border: 0.5px solid #5b5b5b;
  padding: 10px 0;
  border-radius: 3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 30px 0;
  font-size: 17.5px;
  font-weight: 300;
}

.google img {
  width: 30px;
  margin-right: 10px;
}

.wrapper .or {
  position: relative;
  padding-bottom: 35px;
}

.wrapper .or:before {
  content: "";
  display: block;
  width: 200px;
  height: 0.5px;
  left: 0;
  top: 13px;
  position: absolute;
  background-color: #5b5b5b;
}

.wrapper .or:after {
  content: "";
  display: block;
  width: 200px;
  height: 0.5px;
  right: 0;
  top: 13px;
  position: absolute;
  background-color: #5b5b5b;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0;
  height: 50px;
  border-bottom: 1px solid #5b5b5b;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  left: 0;
  font-size: 14px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  margin: -15px 0px 15px;
  font-weight: 300;
}

.remember-forgot label input {
  accent-color: #5b5b5b;
  margin-right: 3px;
}

.remember-forgot a {
  text-decoration: none;
  color: #0095f6;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 54px;
  margin-top: 100px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-image: linear-gradient(45deg, #a8e6ff, #58bfff, #009eff);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  color: #ffff;
  font-weight: 500;
}

.wrapper .register {
  text-align: center;
  margin-top: 20px;
}

.register p {
  font-size: 17px;
}

.register a {
  color: #0095f6;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}
